.body-1-icon {
    position: absolute;
    top: 68px;
    left: 785px;
    width: 186px;
    height: 530px;
    object-fit: cover;
  }
  .hemo-a-child {
    position: absolute;
    top: 974px;
    left: 250px;
    border-radius: var(--br-lgi);
    background-color: var(--color-lavender-100);
    width: 816px;
    height: 615px;
  }
  .inheritance-pattern {
    position: absolute;
    top: 989px;
    left: 567px;
    font-size: var(--font-size-3xl);
    font-weight: 600;
    display: inline-block;
    width: 261px;
    height: 35px;
  }
  .image-1 {
    text-decoration: none;
    position: absolute;
    top: 38px;
    left: 16px;
    width: 184px;
    height: 68px;
    background-image: url(./public/image-1@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .x-linked-recessive {
    position: absolute;
    top: 1045px;
    left: 567px;
    font-size: var(--font-size-3xl);
    font-weight: 600;
    display: inline-block;
    width: 273px;
    height: 29px;
  }
  .diagnostics {
    top: 1625px;
    left: 363px;
    font-size: var(--font-size-3xl);
    color: inherit;
    width: 233px;
    height: 34px;
    text-decoration: none;
  }
  .clinical-symptoms,
  .clinical-symptoms1,
  .diagnostics {
    position: absolute;
    font-weight: 600;
    display: inline-block;
  }
  .clinical-symptoms {
    top: 70px;
    left: 296px;
    font-size: var(--font-size-3xl);
    color: inherit;
    width: 272px;
    height: 35px;
    text-decoration: none;
  }
  .clinical-symptoms1 {
    top: 204px;
    right: 62px;
    width: 188px;
    height: 29px;
  }
  .inheritance-pattern1,
  .prevalence,
  .recent-research,
  .resources,
  .timeline-of-disease {
    position: absolute;
    top: 239px;
    right: 61px;
    font-weight: 600;
    color: inherit;
    display: inline-block;
    width: 188px;
    height: 30px;
    text-decoration: none;
  }
  .inheritance-pattern1,
  .prevalence,
  .recent-research,
  .resources {
    top: 311px;
  }
  .prevalence,
  .recent-research,
  .resources {
    top: 276px;
    right: 62px;
  }
  .recent-research,
  .resources {
    top: 406px;
    right: 61px;
  }
  .resources {
    top: 443px;
    height: 29px;
  }
  .therapeutics {
    margin: 0;
  }
  .diagnostics-therapeutics {
    top: 345px;
    right: 61px;
    font-weight: 600;
    color: inherit;
    width: 188px;
    height: 30px;
  }
  .contents,
  .diagnostics-therapeutics,
  .tata-institute-for {
    position: absolute;
    display: inline-block;
    text-decoration: none;
  }
  .contents {
    top: 162px;
    right: 17px;
    font-weight: 600;
    color: var(--color-darkblue);
    width: 218px;
    height: 35px;
  }
  .tata-institute-for {
    top: 2357px;
    left: 545px;
    font-size: var(--font-size-base);
    color: inherit;
    text-align: center;
    width: 415px;
  }
  .samruddhi-walaskar {
    color: var(--color-darkblue);
  }
  .dashboard-development-container {
    text-decoration: none;
    position: absolute;
    top: 2334px;
    left: 32px;
    font-size: var(--font-size-base);
    display: inline-block;
    width: 462px;
    height: 24px;
    color: inherit;
  }
  .concept-lead-container {
    text-decoration: none;
    top: 2357px;
    left: 32px;
    width: 392px;
    height: 24px;
    color: inherit;
  }
  .concept-lead-container,
  .data-compilation-rgd-container,
  .measuring-blood-clotting {
    position: absolute;
    font-size: var(--font-size-base);
    display: inline-block;
  }
  .data-compilation-rgd-container {
    text-decoration: none;
    top: 2310px;
    left: 32px;
    width: 392px;
    height: 24px;
    color: inherit;
  }
  .measuring-blood-clotting {
    top: 1694px;
    left: 272px;
    width: 321px;
  }
  .vector-icon,
  .vector-icon1 {
    max-width: 100%;
    max-height: 100%;
  }
  .vector-icon {
    position: absolute;
    height: 74.26%;
    width: 73.61%;
    top: 19.12%;
    right: 19.44%;
    bottom: 6.62%;
    left: 6.94%;
    overflow: hidden;
  }
  .vector-icon1 {
    height: 36.76%;
    width: 36.11%;
    top: 6.62%;
    right: 6.94%;
    bottom: 56.62%;
    left: 56.94%;
  }
  .external-link,
  .vector-icon1,
  .vector-icon2 {
    position: absolute;
    overflow: hidden;
  }
  .vector-icon2 {
    height: 57.6%;
    width: 56.94%;
    top: 6.62%;
    right: 6.94%;
    bottom: 35.79%;
    left: 36.11%;
    max-width: 100%;
    max-height: 100%;
  }
  .external-link {
    text-decoration: none;
    top: 28px;
    left: 526px;
    width: 18px;
    height: 17px;
  }
  .replacement-therapy-of {
    position: absolute;
    top: 1694px;
    left: 669px;
    font-size: var(--font-size-base);
    display: inline-block;
    width: 316px;
  }
  .hemo-a-inner,
  .hemo-a-item {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-whitesmoke-200);
    position: absolute;
    top: 258px;
    left: 21px;
    border-radius: var(--br-lgi);
    width: 197px;
    height: 43px;
  }
  .hemo-a-inner {
    background-color: var(--color-lavender-100);
    top: 14px;
    left: 869px;
    height: 41px;
  }
  .alpha-thalassemia,
  .beta-thalassemia,
  .hemophilia-a,
  .hemophilia-b,
  .sickle-cell-anemia {
    text-decoration: none;
    position: absolute;
    top: 223px;
    left: 61px;
    font-weight: 600;
    color: inherit;
  }
  .alpha-thalassemia,
  .hemophilia-a,
  .hemophilia-b,
  .sickle-cell-anemia {
    top: 361px;
    left: 57px;
  }
  .alpha-thalassemia,
  .hemophilia-a,
  .hemophilia-b {
    top: 407px;
    left: 52px;
  }
  .hemophilia-a,
  .hemophilia-b {
    top: 315px;
    left: 76px;
  }
  .hemophilia-a {
    top: 269px;
  }
  .dashboard-icon {
    position: relative;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .blood-disorder {
    position: relative;
    font-weight: 600;
  }
  .dashboard,
  .dashboard1 {
    text-decoration: none;
    position: absolute;
    top: 162px;
    left: 26px;
    width: 136px;
    height: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-sm);
    color: var(--color-darkblue);
  }
  .dashboard1 {
    top: 458px;
    left: 35px;
    width: 152px;
  }
  .musclemovement-neurodegener {
    position: relative;
    font-weight: 600;
    display: inline-block;
    width: 165px;
    flex-shrink: 0;
  }
  .dashboard2,
  .dashboard3 {
    text-decoration: none;
    position: absolute;
    left: 35px;
    width: 209px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-sm);
    color: var(--color-darkblue);
  }
  .dashboard2 {
    top: 506px;
    height: 63px;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    align-items: flex-start;
  }
  .dashboard3 {
    top: 593px;
    height: 21px;
    align-items: center;
  }
  .surabhisrivastavatigsresin {
    margin: 0;
    color: var(--color-darkblue);
  }
  .for-queries-container,
  .recent-research1,
  .resources1,
  .therapeutics1 {
    text-decoration: none;
    position: absolute;
    color: inherit;
    display: inline-block;
  }
  .for-queries-container {
    top: 2334px;
    left: 1068px;
    font-size: var(--font-size-base);
    width: 448px;
    height: 55px;
  }
  .recent-research1,
  .resources1,
  .therapeutics1 {
    font-size: var(--font-size-3xl);
    font-weight: 600;
  }
  .therapeutics1 {
    top: 1625px;
    left: 753px;
    width: 247px;
    height: 35px;
  }
  .recent-research1,
  .resources1 {
    top: 2019px;
    left: 252px;
    width: 350px;
  }
  .resources1 {
    top: 2151px;
    font-size: var(--font-size-xl);
    width: 188px;
  }
  .httpswwwcdcgovncbdddhem1 {
    margin: 0;
    padding-left: var(--padding-base);
  }
  .httpswwwcdcgovncbdddhem {
    text-decoration: none;
    position: absolute;
    top: 2179px;
    left: 248px;
    font-size: var(--font-inherit);
    font-family: var(--font-inherit);
    color: var(--color-mediumslateblue-200);
    display: inline-block;
    width: 369px;
    height: 20px;
  }
  .hemo-a-child1 {
    position: absolute;
    top: 1631px;
    left: 639.5px;
    width: 1px;
    height: 177px;
  }
  .in-100000,
  .india {
    font-size: var(--font-size-base);
  }
  .in-100000 {
    position: absolute;
    top: 901px;
    left: 726px;
    text-align: center;
    display: inline-block;
    width: 303px;
  }
  .india {
    margin: 0;
  }
  .prevalence-india-txt-container {
    line-break: anywhere;
    width: 100%;
  }
  .prevalence-global,
  .prevalence-india {
    position: absolute;
    top: 813px;
    left: 346px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    width: 219px;
    height: 75px;
    font-size: var(--font-size-3xl);
  }
  .prevalence-global {
    top: 810px;
    left: 609px;
    width: 546px;
  }
  .in-1000001 {
    top: 895px;
    left: 303px;
    font-size: var(--font-size-base);
    color: inherit;
    text-align: center;
    width: 306px;
  }
  .aditional-links,
  .in-1000001,
  .source-httpsrarediseasesi {
    position: absolute;
    display: inline-block;
    text-decoration: none;
  }
  .source-httpsrarediseasesi {
    top: 1568px;
    left: 760px;
    font-size: var(--font-size-5xs);
    color: inherit;
    width: 395px;
  }
  .aditional-links {
    bottom: 1245px;
    left: 11px;
    font-weight: 600;
    color: var(--color-darkblue);
    text-align: center;
    width: 187px;
    height: 34px;
  }
  .online-mendelian-inheritance {
    margin: 0;
    padding-left: var(--padding-lgi);
  }
  .online-mendelian-inheritance-container {
    text-decoration: none;
    position: absolute;
    bottom: 1210px;
    left: 15px;
    color: inherit;
    display: inline-block;
    width: 208px;
    height: 35px;
  }
  .indian-policy-for-container,
  .online-mendelian-inheritance-container,
  .organization-for-rare-container {
    font-size: var(--font-inherit);
    font-weight: 600;
    font-family: var(--font-inherit);
  }
  .organization-for-rare-container {
    text-decoration: none;
    position: absolute;
    bottom: 1150px;
    left: 15px;
    color: inherit;
    display: inline-block;
    width: 183px;
    height: 36px;
  }
  .indian-policy-for-container {
    bottom: 999px;
    left: 17px;
    width: 219px;
    height: 49px;
  }
  .gentigs,
  .indian-policy-for-container,
  .indian-society-of-container,
  .tigs-work {
    text-decoration: none;
    position: absolute;
    color: inherit;
    display: inline-block;
  }
  .tigs-work {
    bottom: 938px;
    left: 18px;
    font-size: var(--font-inherit);
    font-weight: 800;
    font-family: var(--font-inherit);
    width: 219px;
    height: 49px;
  }
  .gentigs,
  .indian-society-of-container {
    font-weight: 600;
  }
  .gentigs {
    top: calc(50% - 1179.5px);
    left: calc(50% + 244px);
    font-size: var(--font-size-3xl);
    width: 99px;
    height: 25px;
  }
  .indian-society-of-container {
    bottom: 1072px;
    left: 15px;
    font-size: var(--font-inherit);
    font-family: var(--font-inherit);
    width: 219px;
    height: 48px;
  }
  .rectangle-icon {
    position: absolute;
    top: 194px;
    left: 1087px;
    width: 5px;
    height: 30px;
    object-fit: cover;
  }
  .timeline-of-disease1 {
    position: absolute;
    top: 574px;
    left: 283px;
    font-size: var(--font-size-3xl);
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 292px;
    height: 29px;
  }
  .hemophilia-a1,
  .source-httpsrarediseasesi1 {
    text-decoration: none;
    position: absolute;
    top: 772px;
    left: 760px;
    font-size: var(--font-size-5xs);
    color: inherit;
    display: inline-block;
    width: 395px;
  }
  .hemophilia-a1 {
    top: 14px;
    left: 287px;
    font-size: var(--font-size-13xl);
    font-weight: 800;
    width: 254px;
  }
  .ellipse-icon,
  .hemo-a-child2,
  .hemo-a-child3 {
    position: absolute;
    top: 439px;
    left: 843px;
    width: 13px;
    height: 13px;
  }
  .hemo-a-child2,
  .hemo-a-child3 {
    top: 306px;
    left: 797px;
  }
  .hemo-a-child3 {
    top: 336px;
    left: 865px;
  }
  .hemo-a-child4,
  .hemo-a-child5,
  .hemo-a-child6 {
    position: absolute;
    top: 144px;
    left: 867px;
    width: 13px;
    height: 13px;
  }
  .hemo-a-child5,
  .hemo-a-child6 {
    top: 162px;
  }
  .hemo-a-child6 {
    top: 122px;
  }
  .hemophilia-a-2,
  .image-15-icon {
    position: absolute;
    top: 609px;
    left: 283px;
    width: 824px;
    height: 163px;
    object-fit: cover;
  }
  .hemophilia-a-2 {
    top: 1105px;
    left: 356px;
    width: 626px;
    height: 412px;
  }
  .chromosome-x,
  .f8 {
    position: absolute;
    top: 1275px;
    left: 316px;
    font-size: var(--font-size-base);
    text-align: center;
    display: inline-block;
    width: 219px;
  }
  .f8 {
    top: 1281px;
    left: 827px;
    font-style: italic;
    color: inherit;
    width: 179px;
    text-decoration: none;
  }
  .hemo-a {
    position: relative;
    background-color: var(--color-white);
    box-shadow: -14px 10px 8px 7px rgba(0, 0, 0, 0.04);
    width: 100%;
    height: 2395px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  
