.beta-child {
  position: absolute;
  top: 974px;
  left: 250px;
  border-radius: var(--br-lgi);
  background-color: var(--color-lavender-100);
  width: 816px;
  height: 615px;
}
.inheritance-pattern {
  position: absolute;
  top: 990px;
  left: 287px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  display: inline-block;
  width: 261px;
  height: 35px;
}
.image-1 {
  text-decoration: none;
  position: absolute;
  top: 17px;
  left: 16px;
  width: 184px;
  height: 90px;
  background-image: url(./public/image-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.autosomal-recessive {
  position: absolute;
  top: 1045px;
  left: 567px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  display: inline-block;
  width: 273px;
  height: 29px;
}
.diagnostics {
  top: 1625px;
  left: 363px;
  font-size: var(--font-size-3xl);
  color: inherit;
  width: 233px;
  height: 34px;
  text-decoration: none;
}
.clinical-symptoms,
.clinical-symptoms1,
.diagnostics {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.clinical-symptoms1
{
  position: fixed;
  font-weight: 600;
  display: inline-block;
}
.clinical-symptoms {
  top: 70px;
  left: 296px;
  font-size: var(--font-size-3xl);
  color: inherit;
  width: 272px;
  height: 35px;
  text-decoration: none;
}
.clinical-symptoms1 {
  top: 204px;
  right: 62px;
  width: 188px;
  height: 29px;
}
.inheritance-pattern1,
.prevalence,
.recent-research,
.resources,
.timeline-of-disease {
  position: fixed;
  top: 239px;
  right: 61px;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 188px;
  height: 30px;
  text-decoration: none;
}
.inheritance-pattern1,
.prevalence,
.recent-research,
.resources {
  top: 311px;
}
.prevalence,
.recent-research,
.resources {
  top: 276px;
  right: 62px;
}
.recent-research,
.resources {
  top: 406px;
  right: 61px;
}
.resources {
  top: 443px;
  height: 29px;
}
.therapeutics {
  margin: 0;
}
.diagnostics-therapeutics {
  top: 345px;
  right: 61px;
  font-weight: 600;
  color: inherit;
  width: 188px;
  height: 30px;
}
.contents,
.diagnostics-therapeutics,
{
  position: fixed;
  display: inline-block;
  text-decoration: none;
}
.tata-institute-for {
position: absolute;
display: inline-block;
text-decoration: none;
}

.contents {
  top: 162px;
  right: 17px;
  font-weight: 600;
  color: var(--color-darkblue);
  width: 218px;
  height: 35px;
}
.tata-institute-for {
  top: 2214px;
  left: 528px;
  font-size: var(--font-size-base);
  color: inherit;
  text-align: center;
  width: 415px;
}
.samruddhi-walaskar {
  color: var(--color-darkblue);
}
.dashboard-development-container {
  text-decoration: none;
  position: absolute;
  top: 2191px;
  left: 15px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 462px;
  height: 24px;
  color: inherit;
}
.concept-lead-container {
  top: 2214px;
  left: 15px;
  font-size: var(--font-size-base);
  width: 392px;
  height: 24px;
}
.beta-thalassemia,
.concept-lead-container,
.data-compilation-rgd-container {
  text-decoration: none;
  position: absolute;
  color: inherit;
  display: inline-block;
}
.data-compilation-rgd-container {
  top: 2167px;
  left: 15px;
  font-size: var(--font-size-base);
  width: 392px;
  height: 24px;
}
.beta-thalassemia {
  top: 14px;
  left: 274px;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  width: 393px;
}
.hematologic-diagnosis-followed {
  position: absolute;
  top: 1694px;
  left: 272px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 321px;
}
.vector-icon,
.vector-icon1 {
  max-width: 100%;
  max-height: 100%;
}
.vector-icon {
  position: absolute;
  height: 74.26%;
  width: 73.61%;
  top: 19.12%;
  right: 19.44%;
  bottom: 6.62%;
  left: 6.94%;
  overflow: hidden;
}
.vector-icon1 {
  height: 36.76%;
  width: 36.11%;
  top: 6.62%;
  right: 6.94%;
  bottom: 56.62%;
  left: 56.94%;
}
.external-link,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  overflow: hidden;
}
.vector-icon2 {
  height: 57.6%;
  width: 56.94%;
  top: 6.62%;
  right: 6.94%;
  bottom: 35.79%;
  left: 36.11%;
  max-width: 100%;
  max-height: 100%;
}
.external-link {
  text-decoration: none;
  top: 29px;
  left: 598px;
  width: 18px;
  height: 17px;
}
.allogeneic-hematopoietic-proge-container {
  position: absolute;
  top: 1694px;
  left: 669px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 316px;
}
.beta-inner,
.beta-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-whitesmoke-200);
  position: absolute;
  top: 212px;
  left: 16px;
  border-radius: var(--br-lgi);
  width: 197px;
  height: 43px;
}
.beta-inner {
  background-color: var(--color-lavender-100);
  top: 14px;
  left: 869px;
  height: 41px;
}
.alpha-thalassemia,
.beta-thalassemia1,
.hemophilia-a,
.hemophilia-b,
.sickle-cell-anemia {
  text-decoration: none;
  position: absolute;
  top: 223px;
  left: 61px;
  font-weight: 600;
  color: inherit;
}
.alpha-thalassemia,
.hemophilia-a,
.hemophilia-b,
.sickle-cell-anemia {
  top: 361px;
  left: 57px;
}
.alpha-thalassemia,
.hemophilia-a,
.hemophilia-b {
  top: 407px;
  left: 52px;
}
.hemophilia-a,
.hemophilia-b {
  top: 315px;
  left: 76px;
}
.hemophilia-a {
  top: 269px;
}
.dashboard-icon {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}
.blood-disorder {
  position: relative;
  font-weight: 600;
}
.dashboard,
.dashboard1 {
  text-decoration: none;
  position: absolute;
  top: 162px;
  left: 26px;
  width: 136px;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-darkblue);
}
.dashboard1 {
  top: 458px;
  left: 35px;
  width: 152px;
}
.musclemovement-neurodegener {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 165px;
  flex-shrink: 0;
}
.dashboard2,
.dashboard3 {
  text-decoration: none;
  position: absolute;
  left: 35px;
  width: 209px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-darkblue);
}
.dashboard2 {
  top: 506px;
  height: 63px;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  align-items: flex-start;
}
.dashboard3 {
  top: 593px;
  height: 21px;
  align-items: center;
}
.body-removebg-preview-icon {
  position: absolute;
  top: 73px;
  left: 787.88px;
  width: 163px;
  height: 492.19px;
  object-fit: cover;
}
.beta-child1,
.beta-child2,
.beta-child11 {
  position: absolute;
  top: 412px;
  left: 841.1px;
  width: 13px;
  height: 13px;
}
.beta-child1,
.beta-child2 {
  top: 234px;
  left: 843.72px;
}
.beta-child2 {
  left: 869.02px;
}
.beta-child3,
.beta-child4,
.beta-child5,
.beta-child6 {
  position: absolute;
  top: 188px;
  left: 900.43px;
  width: 13px;
  height: 13px;
}
.beta-child4,
.beta-child5,
.beta-child6 {
  top: 124px;
  left: 873.38px;
}
.beta-child5,
.beta-child6 {
  top: 135px;
  left: 862.04px;
}
.beta-child6 {
  top: 500px;
  left: 900px;
}
.beta-child11-textbox{
  position: absolute;
  top: 412px;
  left: 296px;
  width: 13px;
  height: 13px;
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-base);
}
.beta-child1-textbox{
  position: absolute;
  top: 234px;
  left: 296px;
  width: 13px;
  height: 13px;
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-base);
}
.beta-child2-textbox{
  position: absolute;
  top: 234px;
  left: 296px;
  width: 13px;
  height: 13px;
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-base);
}
.beta-child3-textbox{
  position: absolute;
  top: 188px;
  left: 296px;
  width: 13px;
  height: 13px;
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-base);
}
.beta-child4-textbox{
  position: absolute;
  top: 124px;
  left: 296px;
  width: 13px;
  height: 13px;
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-base);
}
.beta-child6-textbox{
  position: absolute;
  top: 472px;
  left: 296px;
  width: 13px;
  height: 13px;
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-base);
}
.surabhisrivastavatigsresin {
  margin: 0;
  color: var(--color-darkblue);
}
.for-queries-container,
.recent-research1,
.therapeutics1 {
  text-decoration: none;
  position: absolute;
  color: inherit;
  display: inline-block;
}
.for-queries-container {
  top: 2191px;
  left: 1051px;
  font-size: var(--font-size-base);
  width: 448px;
  height: 55px;
}
.recent-research1,
.therapeutics1 {
  font-size: var(--font-size-3xl);
  font-weight: 600;
}
.therapeutics1 {
  top: 1625px;
  left: 753px;
  width: 247px;
  height: 35px;
}
.recent-research1 {
  top: 1898px;
  left: 272px;
  width: 350px;
}
.beta-thalassemia-r-icon {
  position: absolute;
  top: 1089px;
  left: 474px;
  width: 410px;
  height: 452px;
  object-fit: cover;
}
.resources1 {
  position: absolute;
  top: 2030px;
  left: 272px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 188px;
  text-decoration: none;
}
.httpswwwcdcgovncbdddhem1 {
  margin: 0;
  padding-left: var(--padding-base);
}
.httpswwwcdcgovncbdddhem {
  text-decoration: none;
  position: absolute;
  top: 2058px;
  left: 268px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  color: var(--color-mediumslateblue-200);
  display: inline-block;
  width: 369px;
  height: 20px;
}
.beta-child7 {
  position: absolute;
  top: 1631px;
  left: 639.5px;
  width: 1px;
  height: 177px;
}
.in-100000,
.india {
  font-size: var(--font-size-base);
}
.in-100000 {
  position: absolute;
  top: 901px;
  left: 726px;
  text-align: center;
  display: inline-block;
  width: 303px;
}
.india {
  margin: 0;
}
.prevalence-india-txt-container {
  line-break: anywhere;
  width: 100%;
}
.prevalence-global,
.prevalence-india {
  position: absolute;
  top: 813px;
  left: 346px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  width: 219px;
  height: 75px;
  font-size: var(--font-size-3xl);
}
.prevalence-global {
  top: 810px;
  left: 609px;
  width: 546px;
}
.chromosome-11,
.globin,
.in-100 {
  font-size: var(--font-size-base);
  text-align: center;
}
.in-100 {
  position: absolute;
  top: 895px;
  left: 303px;
  color: inherit;
  display: inline-block;
  width: 306px;
  text-decoration: none;
}
.chromosome-11,
.globin {
  top: 1273px;
}
.chromosome-11 {
  position: absolute;
  left: 666px;
  display: inline-block;
  width: 303px;
}
.globin {
  left: 454px;
  color: inherit;
  width: 218px;
}
.aditional-links,
.globin,
.source-httpsrarediseasesi {
  position: absolute;
  display: inline-block;
  text-decoration: none;
}
.source-httpsrarediseasesi {
  top: 1568px;
  left: 760px;
  font-size: 8px;
  color: inherit;
  width: 395px;
}
.aditional-links {
  bottom: 1245px;
  left: 11px;
  font-weight: 600;
  color: var(--color-darkblue);
  text-align: center;
  width: 187px;
  height: 34px;
}
.online-mendelian-inheritance {
  margin: 0;
  padding-left: var(--padding-lgi);
}
.online-mendelian-inheritance-container {
  text-decoration: none;
  position: absolute;
  bottom: 1210px;
  left: 15px;
  color: inherit;
  display: inline-block;
  width: 208px;
  height: 35px;
}
.indian-policy-for-container,
.online-mendelian-inheritance-container,
.organization-for-rare-container {
  font-size: var(--font-inherit);
  font-weight: 600;
  font-family: var(--font-inherit);
}
.organization-for-rare-container {
  text-decoration: none;
  position: absolute;
  bottom: 1150px;
  left: 15px;
  color: inherit;
  display: inline-block;
  width: 183px;
  height: 36px;
}
.indian-policy-for-container {
  bottom: 999px;
  left: 17px;
  width: 219px;
  height: 49px;
}
.gentigs,
.indian-policy-for-container,
.indian-society-of-container,
.tigs-work {
  text-decoration: none;
  position: absolute;
  color: inherit;
  display: inline-block;
}
.tigs-work {
  bottom: 938px;
  left: 18px;
  font-size: var(--font-inherit);
  font-weight: 800;
  font-family: var(--font-inherit);
  width: 219px;
  height: 49px;
}
.gentigs,
.indian-society-of-container {
  font-weight: 600;
}
.gentigs {
  top: calc(50% - 1110px);
  left: calc(50% + 247px);
  font-size: var(--font-size-3xl);
  width: 99px;
  height: 25px;
}
.indian-society-of-container {
  bottom: 1072px;
  left: 15px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  width: 219px;
  height: 48px;
}

.rectangle-icon {
  position:fixed;
  top: 194px;
  left: 1087px;
  width: 5px;
  height: 30px;
  object-fit: cover;
}
.image-14-icon {
  position: absolute;
  top: 593px;
  left: 244px;
  border-radius: var(--br-lg);
  width: 837px;
  height: 188px;
}
.timeline-of-disease1 {
  position: absolute;
  top: 574px;
  left: 283px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 292px;
  height: 29px;
}
.source-httpsrarediseasesi1 {
  text-decoration: none;
  position: absolute;
  top: 772px;
  left: 760px;
  font-size: 8px;
  color: inherit;
  display: inline-block;
  width: 395px;
}
.beta {
  position: relative;
  background-color: var(--color-white);
  box-shadow: -14px 10px 8px 7px rgba(0, 0, 0, 0.04);
  width: 100%;
  height: 2260px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.gentigs-top{
  position: absolute;
  top: 20px;
  left: 920px;
  font-weight: 600;
  font-family: var(--font-inherit);
  font-size: var(--font-size-3xl);
  color: inherit;
  display: inline-block;
  text-decoration: none;
  width: 219px;
}
.beta-inner1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lavender-100);
  position: absolute;
  top: 14px;
  left: 869px;
  border-radius: var(--br-lgi);
  width: 197px;
  height: 41px;
}
.hide{
  position: absolute;
  top: 65px;
  left: 880px;
  font-size: var(--font-size-base);
  font-weight: 200;
  color: inherit;
  display: inline-block;
  width: 300px;
  text-decoration: none;
}
