.mps-i-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-whitesmoke-200);
  position: absolute;
  top: 469px;
  left: 8px;
  border-radius: var(--br-lgi);
  width: 214px;
  height: 41px;
}
.aditional-links13 {
  position: absolute;
  top: 740px;
  left: 14px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-darkblue);
  text-align: center;
  display: inline-block;
  width: 187px;
  height: 29px;
  text-decoration: none;
}
.mps-i-inner,
.mps-i-item {
  position: absolute;
  top: 0;
  border-radius: var(--br-lgi);
}
.mps-i-item {
  left: 225px;
  background-color: var(--color-whitesmoke-100);
  width: 969px;
  height: 58px;
}
.mps-i-inner {
  left: 0;
  width: 230px;
  height: 214px;
  object-fit: cover;
}
.frame-child114 {
  position: absolute;
  width: calc(100% - 24px);
  top: 0;
  right: 28px;
  left: -4px;
  border-radius: var(--br-base);
  background-color: var(--color-whitesmoke-200);
  height: 178px;
}
.prevalence-global13 {
  position: absolute;
  top: 5px;
  left: 0px;
  font-weight: 600;
  display: inline-block;
  width: 269px;
  height: 30px;
}
.in17 {
  margin: 0;
}
.in-1-000-container {
  position: absolute;
  top: 54px;
  left: 27px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  text-align: center;
}
.frame-parent49 {
  position: absolute;
  top: 72px;
  left: 499px;
  width: 245px;
  height: 172px;
  font-size: var(--font-size-xl);
}
.frame-child115 {
  position: absolute;
  width: calc(100% - 24px);
  top: 0;
  right: 24px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-whitesmoke-200);
  height: 178px;
}
.a6 {
  position: absolute;
  top: 89px;
  left: 16px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  color: inherit;
  text-align: center;
  display: inline-block;
  width: 178px;
  text-decoration: none;
}
.frame-parent50 {
  position: absolute;
  top: 72px;
  left: 255px;
  width: 245px;
  height: 172px;
  font-size: var(--font-size-xl);
}
.frame-child116 {
  position: absolute;
  width: calc(100% - 26px);
  top: 0;
  right: 37px;
  left: -11px;
  border-radius: var(--br-base);
  background-color: var(--color-whitesmoke-200);
  height: 178px;
}
.chromosome-4,
.cytogenetic-location13 {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.cytogenetic-location13 {
  top: 17px;
  left: -8px;
  width: 282px;
  height: 31px;
}
.chromosome-4 {
  top: 76px;
  left: -23px;
  font-size: var(--font-size-13xl);
  text-align: center;
  width: 245px;
}
.frame-parent51 {
  position: absolute;
  top: 72px;
  left: 978px;
  width: 247px;
  height: 172px;
  font-size: var(--font-size-xl);
}
.frame-child117 {
  position: absolute;
  width: calc(100% - 26px);
  top: 0;
  right: 20px;
  left: 6px;
  border-radius: var(--br-base);
  background-color: var(--color-whitesmoke-200);
  height: 178px;
}
.genes13,
.idua {
  position: absolute;
  display: inline-block;
  font-weight: 600;
}
.genes13 {
  top: 18px;
  left: 77px;
  width: 233px;
  height: 30px;
}
.idua {
  top: 89px;
  left: 16px;
  font-size: var(--font-size-13xl);
  font-style: italic;
  color: inherit;
  text-align: center;
  width: 192px;
  text-decoration: none;
}
.frame-parent52 {
  position: absolute;
  top: 72px;
  left: 723px;
  width: 247px;
  height: 172px;
  font-size: var(--font-size-xl);
}
.mps-i-child1 {
  position: absolute;
  top: 261px;
  left: 254px;
  border-radius: var(--br-lgi);
  background-color: var(--color-lavender-100);
  width: 935px;
  height: 520px;
}
.current-therapeutics13,
.science-of-diagnosis13 {
  position: absolute;
  top: 589px;
  left: 914px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  display: inline-block;
  width: 300px;
  height: 35px;
}
.current-therapeutics13 {
  top: 276px;
  left: 900px;
  color: inherit;
  text-decoration: none;
}
.mps-i-child2 {
  position: absolute;
  top: 794px;
  left: 255px;
  border-radius: var(--br-lgi);
  background-color: var(--color-lavender-100);
  width: 596px;
  height: 109px;
}

.age-of-onset14 {
  font-weight: 600;
}
.symtoms-are-shown-molecularly {
  font-size: var(--font-size-base);
}
.age-of-onset-container9 {
  position: absolute;
  top: 818px;
  left: 279px;
  display: inline-block;
  width: 572px;
  height: 63px;
  font-size: var(--font-size-xl);
}
.clinical-symptoms13,
.current-diagnostics13 {
  position: absolute;
  top: 275px;
  left: 276px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 273px;
  height: 34px;
  text-decoration: none;
}
.clinical-symptoms13 {
  left: 592px;
  width: 230px;
  height: 35px;
}
.dashboard-icon60 {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}
.blood-disorder17 {
  position: relative;
  font-weight: 600;
}
.dashboard60 {
  text-decoration: none;
  position: absolute;
  top: 253px;
  left: 29px;
  width: 171px;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-darkblue);
}
.storage-disorder17 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 152px;
  flex-shrink: 0;
}
.dashboard61 {
  text-decoration: none;
  position: absolute;
  top: 313px;
  left: 29px;
  width: 129px;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-darkblue);
}
.musclemovement-neurodegener15 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 165px;
  flex-shrink: 0;
}
.dashboard62 {
  text-decoration: none;
  position: absolute;
  top: 562px;
  left: 29px;
  width: 167px;
  height: 61px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-darkblue);
}
.frame-child118 {
  border: 0;
  background-color: var(--color-lavender-100);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  width: 324px;
  height: 106px;
}
.resources30 {
  position: absolute;
  top: 14px;
  left: 14px;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 119px;
  text-decoration: none;
}
.rectangle-parent40 {
  position: absolute;
  top: 794px;
  left: 865px;
  width: 286px;
  height: 146px;
  font-size: var(--font-size-xl);
}
.dashboard63 {
  text-decoration: none;
  position: absolute;
  top: 659px;
  left: 31px;
  width: 167px;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-darkblue);
}
.frame-child119 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lgi);
  width: 231px;
  height: 236px;
  object-fit: cover;
}
.online-mendelian-inheritance13 {
  margin: 0;
  padding-left: var(--padding-base);
}
.online-mendelian-inheritance-container13,
.organization-for-rare-container13 {
  text-decoration: none;
  position: absolute;
  top: 17px;
  left: 10px;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 208px;
  height: 30px;
}
.organization-for-rare-container13 {
  top: 68px;
  width: 183px;
}
.indian-policy-for-container14,
.indian-society-of-container14 {
  text-decoration: none;
  position: absolute;
  top: 186px;
  left: 12px;
  font-weight: 600;
  color: var(--color-whitesmoke-200);
  display: inline-block;
  width: 219px;
}
.indian-society-of-container14 {
  top: 124px;
  left: 10px;
  height: 41px;
}
.rectangle-parent41 {
  position: absolute;
  top: 782px;
  left: 10px;
  width: 231px;
  height: 255px;
  font-size: var(--font-inherit);
  color: var(--color-lavender-200);
  font-family: var(--font-inherit);
}
.body-removebg-preview-icon12 {
  position: absolute;
  top: 298px;
  left: 621px;
  width: 184px;
  height: 484px;
  object-fit: cover;
}
.mps-i-child3 {
  position: absolute;
  top: 906px;
  left: 865px;
  width: 275px;
  height: 81px;
}
.resources-child16 {
  border: 0;
  background-color: var(--color-lavender-100);
  position: absolute;
  top: -17px;
  left: 0;
  border-radius: var(--br-lgi);
  width: 324px;
  height: 104px;
}
.mutations13 {
  position: absolute;
  top: 0;
  left: 13px;
  font-weight: 600;
  display: inline-block;
  width: 119px;
  height: 22.04px;
}
.resources31 {
  position: absolute;
  top: 930px;
  left: 865px;
  width: 324px;
  height: 118px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.frame-child120,
.frame-child121 {
  text-decoration: none;
  position: absolute;
  top: -81px;
  left: -37px;
  border-radius: var(--br-lgi);
  background-color: var(--color-lavender-100);
  width: 595px;
  height: 48px;
}
.frame-child121 {
  top: -24px;
}
.rectangle-parent42 {
  position: absolute;
  top: 995px;
  left: 293px;
  width: 347px;
  height: 47px;
}
.vector-icon265,
.vector-icon266,
.vector-icon267 {
  position: absolute;
  height: 74.26%;
  width: 74.26%;
  top: 19.12%;
  right: 19.12%;
  bottom: 6.62%;
  left: 6.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon266,
.vector-icon267 {
  height: 36.76%;
  width: 36.76%;
  top: 6.62%;
  right: 6.62%;
  bottom: 56.62%;
  left: 56.62%;
}
.vector-icon267 {
  height: 57.6%;
  width: 57.6%;
  bottom: 35.78%;
  left: 35.78%;
}
.external-link88 {
  text-decoration: none;
  position: absolute;
  top: 986px;
  left: 445px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.management15 {
  top: 978px;
  left: 279px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 410.52px;
}
.external-link89,
.management15,
.recent-research13 {
  text-decoration: none;
  position: absolute;
}
.external-link89 {
  top: 933px;
  left: 479px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.recent-research13 {
  top: 921px;
  left: 282px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 410.52px;
}
.mps-i-child4 {
  border: 0;
  background-color: var(--color-lavender-100);
  position: absolute;
  top: 1028px;
  left: 865px;
  border-radius: var(--br-lgi);
  width: 324px;
  height: 48px;
}
.external-link90,
.external-link91 {
  text-decoration: none;
  position: absolute;
  top: 283px;
  left: 506px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.external-link91 {
  left: 805px;
}
.vector-icon279 {
  position: absolute;
  height: 57.6%;
  width: 57.6%;
  top: 6.62%;
  right: 6.62%;
  bottom: 35.78%;
  left: 35.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.external-link92,
.external-link93 {
  text-decoration: none;
  position: absolute;
  top: 284px;
  left: 1145px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.external-link93 {
  top: 597px;
  left: 1149px;
}
.tata-institute-for14 {
  position: absolute;
  top: 1120px;
  left: 436px;
  font-size: var(--font-size-base);
  color: inherit;
  text-align: center;
  display: inline-block;
  width: 415px;
  text-decoration: none;
}
.samruddhi-walaskar14 {
  color: var(--color-darkblue);
}
.designed-by-samruddhi-container14,
.supervised-by-dr-container14 {
  text-decoration: none;
  position: absolute;
  top: 1117px;
  left: -30px;
  font-size: var(--font-size-base);
  text-align: center;
  display: inline-block;
  width: 367px;
  color: inherit;
}
.supervised-by-dr-container14 {
  left: 851px;
  width: 392px;
}
.fabry1,
.gauchers-disease1,
.mps-i2,
.mpsii1,
.pompe1 {
  text-decoration: none;
  position: absolute;
  top: 360px;
  left: 48px;
  font-weight: 600;
  color: inherit;
}
.fabry1,
.mps-i2,
.mpsii1,
.pompe1 {
  top: 400px;
  left: 84px;
}
.mps-i2,
.mpsii1,
.pompe1 {
  top: 436px;
  left: 78px;
}
.mps-i2,
.mpsii1 {
  top: 479px;
  left: 86px;
}
.mpsii1 {
  top: 515px;
  left: 85px;
}
.early-diagnosis-is {
  margin-bottom: 0;
}
.early-diagnosis-is-difficult-a {
  margin: 0;
  padding-left: var(--padding-2xl);
}
.early-diagnosis-is-container {
  position: absolute;
  top: 319px;
  left: 265px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  display: inline-block;
  width: 299px;
}
.external-link94,
.gentigs13 {
  text-decoration: none;
  position: absolute;
}
.external-link94 {
  top: 27px;
  left: 369px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.gentigs13 {
  top: -6px;
  left: 213px;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  width: 148px;
  height: 32px;
}
.gentigs-wrapper6 {
  position: absolute;
  top: 1037px;
  left: 755px;
  width: 385px;
  height: 65px;
  font-size: var(--font-size-13xl);
}
.mps-i3,
.removal-of-spleen {
  position: absolute;
  top: 328px;
  left: 892px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 297px;
}
.mps-i3 {
  text-decoration: none;
  top: 12px;
  left: 265px;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  color: inherit;
  width: 370px;
}
.mps-i1 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: -14px 10px 8px 7px rgba(0, 0, 0, 0.04);
  width: 100%;
  height: 1148px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.image-113{
  text-decoration: none;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 216px;
  height: 93px;
  background-image: url(./public/image-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
