.sca-child {
  position: absolute;
  top: 62px;
  left: 254px;
  border-radius: var(--br-lgi);
  background-color: var(--color-lavender-100);
  width: 816px;
  height: 520px;
}
.body-removebg-preview-icon {
  position: absolute;
  top: 73px;
  left: 782px;
  width: 186px;
  height: 490px;
  object-fit: cover;
}
.ellipse-icon,
.sca-inner,
.sca-item {
  position: absolute;
  top: 412px;
  left: 843px;
  width: 13px;
  height: 13px;
}
.ellipse-icon,
.sca-inner {
  top: 344px;
  left: 793px;
}
.ellipse-icon {
  top: 268px;
  left: 926px;
}
.rectangle-main,
.sca-child1,
.sca-child2,
.sca-child3 {
  position: absolute;
  top: 199px;
  left: 888px;
  width: 13px;
  height: 13px;
}
.rectangle-main,
.sca-child2,
.sca-child3 {
  top: 350px;
  left: 891px;
}
.rectangle-main,
.sca-child3 {
  top: 246px;
  left: 865px;
}
.rectangle-main {
  top: 782px;
  left: 251px;
  border-radius: var(--br-lgi);
  background-color: var(--color-lavender-100);
  width: 816px;
  height: 615px;
}
.inheritance-pattern {
  position: absolute;
  top: 803px;
  left: 580px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  display: inline-block;
  width: 261px;
  height: 35px;
}
.image-1 {
  text-decoration: none;
  position: absolute;
  top: 17px;
  left: 16px;
  width: 184px;
  height: 79px;
  background-image: url(./public/image-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.beta-thalassemia-r-2 {
  position: absolute;
  top: 896px;
  left: 431px;
  width: 501px;
  height: 451px;
  object-fit: cover;
}
.autosomal-recessive {
  position: absolute;
  top: 854px;
  left: 570px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  display: inline-block;
  width: 262px;
  height: 29px;
}
.diagnostics {
  top: 1416px;
  left: 361px;
  font-size: var(--font-size-3xl);
  color: inherit;
  width: 233px;
  height: 34px;
  text-decoration: none;
}
.clinical-symptoms,
.clinical-symptoms1,
.diagnostics {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.clinical-symptoms {
  top: 70px;
  left: 296px;
  font-size: var(--font-size-3xl);
  color: inherit;
  width: 272px;
  height: 35px;
  text-decoration: none;
}
.clinical-symptoms1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 204px;
  right: 62px;
  font-size: var(--font-size-sm);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  width: 188px;
  height: 29px;
}
.disease-overview,
.inheritance-pattern1,
.recent-research,
.resources {
  position: absolute;
  top: 239px;
  right: 61px;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 188px;
  height: 30px;
  text-decoration: none;
}
.inheritance-pattern1,
.recent-research,
.resources {
  top: 276px;
}
.recent-research,
.resources {
  top: 371px;
}
.resources {
  top: 408px;
  height: 29px;
}
.therapeutics {
  margin: 0;
}
.diagnostics-therapeutics {
  top: 310px;
  right: 61px;
  font-weight: 600;
  color: inherit;
  width: 188px;
  height: 30px;
}
.contents,
.diagnostics-therapeutics,
.tata-institute-for {
  position: absolute;
  display: inline-block;
  text-decoration: none;
}
.contents {
  top: 162px;
  right: 17px;
  font-weight: 600;
  color: var(--color-darkblue);
  width: 218px;
  height: 35px;
}
.tata-institute-for {
  top: 2203px;
  left: 531px;
  font-size: var(--font-size-base);
  color: inherit;
  text-align: center;
  width: 415px;
}
.samruddhi-walaskar {
  color: var(--color-darkblue);
}
.dashboard-development-container {
  text-decoration: none;
  position: absolute;
  top: 2180px;
  left: 18px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 462px;
  height: 24px;
  color: inherit;
}
.concept-lead-container,
.data-compilation-rgd-container {
  text-decoration: none;
  left: 18px;
  font-size: var(--font-size-base);
  width: 392px;
  height: 24px;
  color: inherit;
}
.concept-lead-container {
  position: absolute;
  top: 2203px;
  display: inline-block;
}
.data-compilation-rgd-container {
  top: 2156px;
}
.blood-test,
.data-compilation-rgd-container,
.sickle-cell-anemia {
  position: absolute;
  display: inline-block;
}
.sickle-cell-anemia {
  text-decoration: none;
  top: 14px;
  left: 274px;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  color: inherit;
  width: 401px;
}
.blood-test {
  top: 1485px;
  left: 270px;
  font-size: var(--font-size-base);
  width: 321px;
}
.vector-icon,
.vector-icon1 {
  max-width: 100%;
  max-height: 100%;
}
.vector-icon {
  position: absolute;
  height: 74.26%;
  width: 73.61%;
  top: 19.12%;
  right: 19.44%;
  bottom: 6.62%;
  left: 6.94%;
  overflow: hidden;
}
.vector-icon1 {
  height: 36.76%;
  width: 36.11%;
  top: 6.62%;
  right: 6.94%;
  bottom: 56.62%;
  left: 56.94%;
}
.external-link,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  overflow: hidden;
}
.vector-icon2 {
  height: 57.6%;
  width: 56.94%;
  top: 6.62%;
  right: 6.94%;
  bottom: 35.79%;
  left: 36.11%;
  max-width: 100%;
  max-height: 100%;
}
.external-link {
  text-decoration: none;
  top: 30px;
  left: 602px;
  width: 18px;
  height: 17px;
}
.hydroxyureasplenectomy-or-a {
  position: absolute;
  top: 1483px;
  left: 685px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 316px;
}
.rectangle-button,
.sca-child4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-whitesmoke-200);
  position: absolute;
  top: 350px;
  left: 23px;
  border-radius: var(--br-lgi);
  width: 197px;
  height: 43px;
}
.sca-child4 {
  background-color: var(--color-lavender-100);
  top: 14px;
  left: 869px;
  height: 41px;
}
.alpha-thalassemia,
.beta-thalassemia,
.hemophilia-a,
.hemophilia-b,
.sickle-cell-anemia1 {
  text-decoration: none;
  position: absolute;
  top: 223px;
  left: 61px;
  font-weight: 600;
  color: inherit;
}
.alpha-thalassemia,
.hemophilia-a,
.hemophilia-b,
.sickle-cell-anemia1 {
  top: 361px;
  left: 57px;
}
.alpha-thalassemia,
.hemophilia-a,
.hemophilia-b {
  top: 407px;
  left: 52px;
}
.hemophilia-a,
.hemophilia-b {
  top: 315px;
  left: 76px;
}
.hemophilia-a {
  top: 269px;
}
.dashboard-icon {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}
.blood-disorder {
  position: relative;
  font-weight: 600;
}
.dashboard,
.dashboard1 {
  text-decoration: none;
  position: absolute;
  top: 162px;
  left: 26px;
  width: 136px;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-darkblue);
}
.dashboard1 {
  top: 458px;
  left: 35px;
  width: 152px;
}
.musclemovement-neurodegener {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 165px;
  flex-shrink: 0;
}
.dashboard2,
.dashboard3 {
  text-decoration: none;
  position: absolute;
  left: 35px;
  width: 209px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-darkblue);
}
.dashboard2 {
  top: 506px;
  height: 63px;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  align-items: flex-start;
}
.dashboard3 {
  top: 593px;
  height: 21px;
  align-items: center;
}
.surabhisrivastavatigsresin {
  margin: 0;
  color: var(--color-darkblue);
}
.for-queries-container,
.therapeutics1 {
  text-decoration: none;
  position: absolute;
  top: 2180px;
  left: 1054px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 448px;
  height: 55px;
  color: inherit;
}
.therapeutics1 {
  top: 1416px;
  left: 751px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  width: 247px;
  height: 35px;
}
.sca-child5 {
  position: absolute;
  top: 1786px;
  left: 255px;
  border-radius: var(--br-lgi);
  background-color: var(--color-lavender-100);
  width: 816px;
  height: 109px;
}
.recent-research1 {
  text-decoration: none;
  position: absolute;
  top: 1799px;
  left: 281px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 350px;
}
.rectangle-textarea {
  border: 0;
  background-color: var(--color-lavender-100);
  position: absolute;
  top: 1914px;
  left: 255px;
  border-radius: var(--br-lgi);
  width: 816px;
  height: 109px;
}
.httpspubmedncbinlmnihgo {
  text-decoration: underline;
  position: absolute;
  top: 1957px;
  left: 281px;
  font-size: var(--font-size-xs);
  color: var(--color-mediumslateblue-200);
  display: inline-block;
  width: 439px;
  height: 20px;
}
.httpswwwncbinlmnihgovp,
.resources1 {
  position: absolute;
  left: 281px;
  display: inline-block;
  text-decoration: none;
}
.httpswwwncbinlmnihgovp {
  top: 1977px;
  font-size: var(--font-size-xs);
  color: var(--color-mediumslateblue-100);
  width: 391px;
}
.resources1 {
  top: 1927px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: inherit;
  width: 188px;
}
.sca-child6 {
  position: absolute;
  top: 1492px;
  left: 630.5px;
  width: 1px;
  height: 177px;
}
.in-10000 {
  position: absolute;
  top: 685px;
  left: 454px;
  text-align: center;
  display: inline-block;
  width: 138px;
}
.globin,
.in-10000,
.india {
  font-size: var(--font-size-base);
}
.globin {
  position: absolute;
  top: 689px;
  left: 602px;
  text-align: center;
  display: inline-block;
  width: 138px;
}
.india {
  margin: 0;
}
.prevalence-india-txt-container {
  line-break: anywhere;
  width: 100%;
}
.prevalence-global,
.prevalence-india {
  position: absolute;
  top: 594px;
  left: 224px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  width: 249px;
  height: 75px;
  font-size: var(--font-size-3xl);
}
.prevalence-global {
  left: 400px;
  width: 250px;
}
.chromosome-11,
.in-100 {
  position: absolute;
  font-size: var(--font-size-base);
  text-align: center;
  display: inline-block;
}
.in-100 {
  top: 685px;
  left: 268px;
  color: inherit;
  width: 141px;
  text-decoration: none;
}
.chromosome-11 {
  top: 689px;
  left: 718px;
  width: 219px;
}
.cytogenetic-location {
  top: 605px;
  left: 740px;
  text-align: center;
  width: 174px;
  height: 78px;
}
.age-of-onset,
.cytogenetic-location,
.genes {
  position: absolute;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  display: inline-block;
}
.age-of-onset {
  top: 605px;
  left: 915px;
  text-align: center;
  width: 174px;
  height: 29px;
}
.genes {
  top: 604px;
  left: 632px;
  width: 215px;
  height: 30px;
}
.sca-child10,
.sca-child7,
.sca-child8,
.sca-child9 {
  position: absolute;
  top: 644px;
  left: 424.5px;
  width: 1px;
  height: 94px;
}
.sca-child10,
.sca-child8,
.sca-child9 {
  top: 652px;
  left: 597.5px;
}
.sca-child10,
.sca-child9 {
  top: 657px;
  left: 738.5px;
}
.sca-child10 {
  top: 655px;
  left: 934.5px;
}
.months {
  position: absolute;
  top: 691px;
  left: 935px;
  font-size: var(--font-size-base);
  text-align: center;
  display: inline-block;
  width: 127px;
}
.aditional-links,
.source-httpsrarediseasesi {
  position: absolute;
  display: inline-block;
  text-decoration: none;
}
.source-httpsrarediseasesi {
  top: 1372px;
  left: 701px;
  font-size: 8px;
  color: inherit;
  width: 395px;
}
.aditional-links {
  bottom: 1245px;
  left: 11px;
  font-weight: 600;
  color: var(--color-darkblue);
  text-align: center;
  width: 187px;
  height: 34px;
}
.online-mendelian-inheritance {
  margin: 0;
  padding-left: var(--padding-lgi);
}
.online-mendelian-inheritance-container {
  text-decoration: none;
  position: absolute;
  bottom: 1210px;
  left: 15px;
  color: inherit;
  display: inline-block;
  width: 208px;
  height: 35px;
}
.indian-policy-for-container,
.online-mendelian-inheritance-container,
.organization-for-rare-container {
  font-size: var(--font-inherit);
  font-weight: 600;
  font-family: var(--font-inherit);
}
.organization-for-rare-container {
  text-decoration: none;
  position: absolute;
  bottom: 1150px;
  left: 15px;
  color: inherit;
  display: inline-block;
  width: 183px;
  height: 36px;
}
.indian-policy-for-container {
  bottom: 999px;
  left: 17px;
  width: 219px;
  height: 49px;
}
.gentigs,
.indian-policy-for-container,
.indian-society-of-container,
.tigs-work {
  text-decoration: none;
  position: absolute;
  color: inherit;
  display: inline-block;
}
.tigs-work {
  bottom: 938px;
  left: 18px;
  font-size: var(--font-inherit);
  font-weight: 800;
  font-family: var(--font-inherit);
  width: 219px;
  height: 49px;
}
.gentigs,
.indian-society-of-container {
  font-weight: 600;
}
.gentigs {
  top: calc(50% - 1116.5px);
  left: calc(50% + 247px);
  font-size: var(--font-size-3xl);
  width: 99px;
  height: 25px;
}
.indian-society-of-container {
  bottom: 1072px;
  left: 15px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  width: 219px;
  height: 48px;
}
.beta-thalassemia-r-1,
.rectangle-icon {
  position: absolute;
  top: 194px;
  left: 1087px;
  width: 5px;
  height: 30px;
  object-fit: cover;
}
.beta-thalassemia-r-1 {
  top: 1117px;
  left: 823px;
  width: 0;
  height: 0;
}
.sca {
  position: relative;
  background-color: var(--color-white);
  box-shadow: -14px 10px 8px 7px rgba(0, 0, 0, 0.04);
  width: 100%;
  height: 2269px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
